In [48]:
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import TfidfVectorizer

import neattext as ntx
from nltk.stem.lancaster import LancasterStemmer

In [36]:
data = pd.read_csv('datasets/data.csv')

In [37]:
data

,id,text_id,text,retweet_count,reply_count,like_count,quote_count,lang,type,post_created_at,followers_count,statuses_count,friends_count,info_tweet,followers_group
0,98714923,114896674840788993,I made $486 today working a few hour from home...,0,0,0,0,en,tweet,2011-09-17 03:01:16+00:00,2,81,22,0,Low
1,98714923,11452801950,#dontyouhatewhen you look for somethin for a l...,0,0,0,0,en,tweet,2010-04-02 00:33:27+00:00,2,81,22,0,Low
2,98714923,11449988432,OVER! Missy would not allow that! No 1 minute ...,0,0,0,0,en,tweet,2010-04-01 23:23:59+00:00,2,81,22,0,Low
3,98714923,11449010476,RT PlayTime is definitely.........OVER!,0,0,0,0,en,tweet,2010-04-01 22:59:21+00:00,2,81,22,0,Low
4,98714923,11393686207,"Not gonna lie, hated #MASSIVEATTACK the first ...",0,0,0,0,en,tweet,2010-03-31 23:47:06+00:00,2,81,22,0,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290652,83181650,4948590037,Play GW? Hate Spamming WTB? Here is the best o...,0,0,0,0,en,tweet,2009-10-17 19:04:54+00:00,43,12,0,0,Low
290653,83181650,4948533269,Arggh misstyping with these sticky keyboard ke...,0,0,0,0,en,tweet,2009-10-17 19:02:14+00:00,43,12,0,0,Low
290654,83181650,4948342618,Online Games I play ATM:- GW-All expansions. C...,0,0,0,0,en,tweet,2009-10-17 18:52:57+00:00,43,12,0,0,Low
290655,83181650,4948173804,"My Tweets will mostly be about gaming, giing a...",0,0,0,0,en,tweet,2009-10-17 18:44:52+00:00,43,12,0,0,Low
290656,83181650,4948149560,I'm searching for people who play the games I ...,0,0,0,0,en,tweet,2009-10-17 18:43:39+00:00,43,12,0,0,Low

In [39]:
stemmer = LancasterStemmer()
def stem_sentence(text):
    text = text.split()
    for word in range(len(text)):
        text[word] = stemmer.stem(text[word])
    
    return ' '.join(text)
    
data['clean_text'] = data['text'].apply(lambda x: ntx.remove_stopwords(x))
data['clean_text'] = data['clean_text'].apply(lambda x: ntx.remove_userhandles(x))
data['clean_text'] = data['clean_text'].apply(lambda x: ntx.remove_urls(x))
data['clean_text'] = data['clean_text'].apply(lambda x: ntx.remove_punctuations(x))

data['clean_text'] = data['clean_text'].apply(lambda x: stem_sentence(x))

In [41]:
print(data['clean_text'][0])
print(data['text'][0])

hom
homemad

In [47]:
vectorizer = TfidfVectorizer()
vectorized_text = vectorizer.fit_transform(data['text']).toarray()

MemoryError: Unable to allocate 701. GiB for an array with shape (290657, 323840) and data type int64

In [44]:
# vectorizer

TfidfVectorizer()