In [1]:
import pandas as pd
import numpy as np
import re
# import os
# os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2'

from sklearn.preprocessing import StandardScaler
from sklearn.feature_extraction.text import TfidfVectorizer
# from sklearn.feature_extraction.text import CountVectorizer
# from sklearn.linear_model import LinearRegression
from sklearn.linear_model import ElasticNet
# from sklearn.linear_model import Lasso

import neattext as ntx
from nltk.stem.lancaster import LancasterStemmer

# from tensorflow.keras import Sequential
# from tensorflow.keras.layers import Dense, LSTM

In [2]:
# data = pd.read_csv('datasets/data.csv')
data = pd.read_csv('datasets/less_data.csv')

In [3]:
data

,id,text_id,text,retweet_count,reply_count,like_count,quote_count,lang,type,post_created_at,followers_count,statuses_count,friends_count,info_tweet,followers_group,clean_text,hashtags
0,32573198,430716388483682304,Happy birthday to my nephew @Tyy_FFOE no matte...,0,0,0,0,en,tweet,2014-02-04 14:56:04+00:00,105,358,153,0,Low,happy birthday nephew mat old old do back lov bud,[]
1,91649490,301312699583827968,"They may look alike, but Kevin Saunders &gt; C...",0,0,0,0,en,tweet,2013-02-12 12:52:00+00:00,15,124,72,0,Low,look alik kevin saund gt chuck nor #emaw #kstate,"['#EMAW', '#KSTATE']"
2,42791233,2503205825,Some Interesting Bat Stories http://bit.ly/MrGUI,0,0,0,0,en,tweet,2009-07-06 21:18:32+00:00,170,57,451,0,Low,interest bat story,[]
3,79969596,1541356927455739904,Does #ClarenceThomas wife use They/Them #prono...,0,0,0,0,en,tweet,2022-06-27 09:45:03+00:00,337,8664,3685,0,Low,#clarencethomas wif us they/them #pronouns,"['#ClarenceThomas', '#pronouns']"
4,64686970,1544667602886135808,Wow! what a view? Don't you agree? The aweso...,1,0,2,0,en,tweet,2022-07-06 13:00:29+00:00,5050,399,2694,3,Middle,wow view agr awesom beach prevel palm forest b...,"['#Crete', '#VisitCrete', '#Greece', '#VisitGr..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38661,22990132,423833471514337280,I posted a new photo to Facebook http://t.co/r...,0,0,0,0,en,tweet,2014-01-16 15:05:48+00:00,463,1051,0,0,Low,post new photo facebook,[]
38662,47882200,532297384634884097,I posted a new photo to Facebook http://t.co/c...,0,0,0,0,en,tweet,2014-11-11 22:22:40+00:00,33,2683,74,0,Low,post new photo facebook,[]
38663,75926261,4136358503,I'm not sure,0,0,0,0,en,tweet,2009-09-21 01:27:14+00:00,1,9,0,0,Many,im sur,[]
38664,61070970,1498433391582408705,Americans’ main sources for political news var...,0,0,0,0,en,tweet,2022-02-28 23:02:14+00:00,35,1943,293,0,Low,am main sourc polit new vary party ag,[]
38665,52472617,247418381534380033,Cool! I earned $74.13 so far by doing surveys!...,0,0,0,0,en,tweet,2012-09-16 19:35:13+00:00,9,43,0,0,Low,cool earn $7413 far survey excit mor look gt,[]

In [4]:
data[(data['info_tweet'] == 0) & (data['followers_count'] < 10)]['text_id']

6                1242778877
9                6993457307
10       107726865678090240
18               1923353496
20        61976209596223488
                ...
38654    178081911657340932
38656    264665041775779840
38659            6324367727
38663            4136358503
38665    247418381534380033
Name: text_id, Length: 8906, dtype: int64

In [5]:
# drop_values = np.random.choice(data[(data['info_tweet'] == 0) & (data['followers_count'] < 10)]['text_id'], 4000)
drop_values = np.random.choice(data[data['info_tweet'] == 0]['text_id'], 8000)

data = data[~data['text_id'].isin(drop_values)]
data.index = range(len(data))

In [109]:
# data = data[data['type'] == 'tweet']
# data = data[data['lang'] == 'en']
# data.index = range(len(data))

In [110]:
# stemmer = LancasterStemmer()

# def remove_emojis(data):
#     emoj = re.compile("["
#         u"\U0001F600-\U0001F64F"  # emoticons
#         u"\U0001F300-\U0001F5FF"  # symbols & pictographs
#         u"\U0001F680-\U0001F6FF"  # transport & map symbols
#         u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
#         u"\U00002500-\U00002BEF"  # chinese char
#         u"\U00002702-\U000027B0"
#         u"\U00002702-\U000027B0"
#         u"\U000024C2-\U0001F251"
#         u"\U0001f926-\U0001f937"
#         u"\U00010000-\U0010ffff"
#         u"\u2640-\u2642" 
#         u"\u2600-\u2B55"
#         u"\u200d"
#         u"\u23cf"
#         u"\u23e9"
#         u"\u231a"
#         u"\ufe0f"  # dingbats
#         u"\u3030"
#                       "]+", re.UNICODE)
#     return re.sub(emoj, '', data)

# def stem_sentence(text):
#     text = [stemmer.stem(word) for word in text.split()]
    
#     return ' '.join(text)
    
    
# data['clean_text'] = data['text'].apply(lambda x: ntx.remove_stopwords(x))
# data['clean_text'] = data['clean_text'].apply(lambda x: ntx.remove_userhandles(x))
# data['clean_text'] = data['clean_text'].apply(lambda x: ntx.remove_urls(x))
# data['clean_text'] = data['clean_text'].apply(lambda x: ntx.remove_punctuations(x))
# data['clean_text'] = data['clean_text'].apply(lambda x: ntx.remove_multiple_spaces(x))
# data['clean_text'] = data['clean_text'].apply(lambda x: x.encode('ascii', 'ignore').decode('ascii'))
# data['clean_text'] = data['clean_text'].apply(lambda x: remove_emojis(x))

# data['hashtags'] = data['clean_text'].apply(lambda x: ntx.extract_hashtags(x))
# # data['clean_text'] = data['clean_text'].apply(lambda x: ntx.remove_hashtags(x))

# data['clean_text'] = data['clean_text'].apply(lambda x: stem_sentence(x))

In [4]:
print(data['clean_text'][0])
print(data['text'][0])

am lay feet im humbl wond majesty thing know find nee unend lov
Now all I am, I lay at Your feet I'm humbled by the wonder of Your majesty, one thing I know I find all I need in Your Unending Love.

In [5]:
def number_in_text(text, number):
    for i in number:
        if i in text:
            return True
    return False

a = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
print('Clean text:', data['clean_text'].apply(lambda x: number_in_text(x,a)).sum(), 'sentences with numbers')
print('Text:', data['text'].apply(lambda x: number_in_text(x,a)).sum(), 'sentences with numbers')

Clean text: 11944 sentences with numbers
Text: 27607 sentences with numbers

In [111]:
# less_data = pd.DataFrame(columns=data.columns)

# ind = np.random.randint(0, data.index[-1]+1, 42000)
# less_data = data.loc[ind]

# less_data.to_csv('datasets/less_data.csv', index=False)

In [6]:
y = data[['retweet_count', 'like_count', 'quote_count']].copy()
y['retweets'] = y['retweet_count'] + y['quote_count']
y.drop(['retweet_count', 'quote_count'], axis=1, inplace=True)

x_col = ['followers_count', 'clean_text']

In [7]:
########## TEXT


vectorizer = TfidfVectorizer()

vectorized_text = vectorizer.fit_transform(data['clean_text'])
vectorized_text = vectorized_text.astype(np.float32)
vectorized_text = vectorized_text.toarray()


# vectorizer = CountVectorizer(binary=True, dtype=np.int32)

# vectorized_text = vectorizer.fit_transform(data['clean_text']).toarray()
vectorized_text_with_followers = np.insert(vectorized_text, 0, data['followers_count'], axis=1) 
del vectorized_text

In [8]:
# takes too much memory

scaler = StandardScaler()
to_input = scaler.fit_transform(vectorized_text_with_followers)
to_input = to_input.astype(np.float16)
del vectorized_text_with_followers

# MODELS

In [9]:
model = ElasticNet()
model.fit(to_input, y.to_numpy())

ElasticNet()

In [33]:
model.score(to_input, y.to_numpy())

0.617042825415429

In [10]:
# model = LinearRegression()
# model.fit(vectorized_text_with_followers, y)

In [11]:
from joblib import dump, load
dump(model, 'model.joblib')

['model.joblib']

In [ ]:
# model = load('filename.joblib')

In [71]:
y.sort_values(by='like_count')

       like_count  retweets
19682           0         0
21098           0         0
21097           0         0
21096           0         0
21095           0         0
...           ...       ...
5435         5617       188
29319        5646       112
10298        8262      1705
26639       16299      2448
21220       61238     69561

[39365 rows x 2 columns]

# PREDICT

In [30]:
n = 15

# print(np.array([1543952 if i == 0 else 0 for i in \
#                               range(len(to_input[n]))])[np.newaxis, :])
print(to_input[n][np.newaxis, :])
print(model.predict(to_input[n][np.newaxis, :]))
# print(model.predict(np.array([1543952 if i == 0 else 0 for i in \
#                               range(len(to_input[n]))])[np.newaxis, :]))
print(data.loc[n])
print(y.loc[n])

[[-0.01749  -0.0385   -0.005615 ... -0.005615 -0.005615 -0.005615]]
[[-27.94318497  -1.06780788]]
id                                                          92368524
text_id                                           550856412822122496
text               Ran 3.1 miles today to officially start my Run...
retweet_count                                                      0
reply_count                                                        0
like_count                                                         0
quote_count                                                        0
lang                                                              en
type                                                           tweet
post_created_at                            2015-01-02 03:29:37+00:00
followers_count                                                   36
statuses_count                                                   502
friends_count                                                    181
info_tweet                                                         0
followers_group                                                  Low
clean_text         ran 31 mil today off start run day 2015 challe...
hashtags                                 ['#2015runthedaychallenge']
Name: 15, dtype: object
like_count    0
retweets      0
Name: 15, dtype: int64

In [51]:
len(data[data['info_tweet'] > 0]) / len(data)

0.22603536062221866

# NEURAL NETWORK BAD IDEA, BECAUSE WE NEED SUCH A POWER COMPUTER

In [10]:
# model = Sequential()
# model.add(LSTM(50, return_sequences=True, input_shape=(1, vectorized_text.shape[-1])))
# model.add(LSTM(50))
# model.add(Dense(32))
# model.add(Dense(2))

In [11]:
# model.compile(optimizer='adam', loss='mean_squared_error')

In [ ]:
# model.fit(vectorized_text[:, np.newaxis, :], y, batch_size=32, epochs=15)

Epoch 1/15
1559/1559 [==============================] - 69s 42ms/step - loss: 761319.4375
Epoch 2/15
 453/1559 [=======>......................] - ETA: 45s - loss: 203298.9375

In [ ]:
# model.save('model.h5')

## HASHTAGS

In [ ]:
# def take_unique_hashtags(ser):
#     unique = []
#     for lis in ser:
#         for hashtag in lis:
#             if hashtag not in unique:
#                 unique.append(hashtag)
    
#     return unique

# data['hashtags'] = clear_hashtags(data['hashtags'].copy())
# unique_hashtags = take_unique_hashtags(data['hashtags'])

In [63]:
# ########## HASHTAGS


# vectorize_hash = TfidfVectorizer()

# # vectorized_hash_fited = vectorize_hash.fit_transform(data['hashtags'])
# # vectorized_hash_fited = vectorized_hash_fited.astype(np.float16)
# # vectorized_hash_fited = vectorized_hash_fited.toarray()

# vectorize_hash.fit(unique_hashtags)

TfidfVectorizer()

In [ ]:
# len_of_hash_uniq = len(vectorize_hash.get_feature_names_out())

# def convert_hashtag_to_vector(hashtags, vectorizer, len_of_features):
#     ones = np.ones((len_of_features))
#     if len(hashtags) == 1:
#         ind = np.argmax(vectorizer.transform(hashtags))
#         ones[ind] = 1
#     elif len(hashtags) >= 2:
#         indexes = []
#         for hashtag in hashtags:
#             indexes.append(np.argmax(vectorizer.transform([hashtag])))
#         for index in indexes:
#             ones[index] = 1
        
#     return ones

        
# # vectorize_hash.transform(['#hello']).toarray()
# data['hashtags'] = data['hashtags'].apply(lambda x: convert_hashtag_to_vector(x, vectorize_hash, len_of_hash_uniq))